/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:wght@300&family=Nunito:wght@700&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: #84c8db; 
  color: black; 
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
}

li{
  cursor: pointer;
}

.contact p{
  font-size: 18px;
}
