.video-container {
  width: 100%;
  height: 100%;
}

.video-container video {
  top: 40%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.overlay-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 2;
}
.overlay-content-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 2;
}

.backdrop-desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 117.5vh;
  background-color: rgba(0, 0, 0, 0.402);
  z-index: 1;
}

.backdrop-mobile {
  position: relative;
}

.backdrop-mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}


